* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0F0D13;
    color: white;
}

.container {
    display: flex;
    gap: 16px;
    width: 653px;
    height: 750px;
    margin: 24px auto;
}

.big {
    align-items: center;
    width: 267px;
    height: 498px;
    background: #2A2141;
    border-radius: 10px;
    padding: 38.41px;
    padding-top: 50.95px;
    text-align: center;
}

.big img {
    border-radius: 6px;
    width: 100%;
    margin-bottom: 28.81px;
}

.medium {
    background: #2A2141;
    width: 357px;
    height: fit-content;
    border-radius: 10px;
    padding: 28.81px;
}

.medium .info {
    display: flex;
    gap: 28.81px;
}

.medium .info img {
    width: 84px;
    height: 84px;
    border-radius: 6px;
}

.medium .controller {
    justify-content: space-around;
}

.small .slide-container {
    display: none;
}

.descriptions {
    width: 100%;
    margin: 16px auto;
    text-align: left;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

p {
    font-size: 19px;
    font-weight: 400;
}

.controller {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28.81px;
    font-size: 28px;
}

.slide-container {
    width: 100%;
    margin: auto;
}

.slide {
    width: 100%;
    height: 10px;
    background: rgba(255,255,255, 0.2);
    border-radius: 8px;
    margin-top: 16px;
}

.tracker {
    width: 50%;
    height: 10px;
    background: white;
    border-radius: 8px;
}

.time {
    display: flex;
    justify-content: space-between                         ;
    margin-top: 8px;
}

.configurations {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.configurations button {
    background: #2A2141;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}